@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
.main--container {
  min-width: 100%;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
}

.dashboard--container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}

.btn {
  background-color: #39cdcc;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100%;
  min-height: 100vh;
  font-size: 1.1rem;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: "Avenir Next", sans-serif;
  color: #545F7D;
  font-weight: 500;
}

img {
  max-width: 100%;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545F7D;
  transition: border 0.2s ease-in-out;
}

input:focus {
  border: 2px solid rgba(84, 95, 125, 0.25);
  outline: none;
}

::placeholder {
  color: #545F7D;
  opacity: 0.7;
}

::-ms-input-placeholder {
  color: #545F7D;
  opacity: 0.7;
}

a {
  text-decoration: none;
}

a:visited {
  color: #545F7D;
}

button {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

ul, li {
  list-style-type: none;
}

.login--container {
  background: linear-gradient(90deg, #edeff2 50%, #ffffff 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
}

.hero--container {
  padding-inline: 4rem;
  width: 50%;
  margin-top: -3rem;
}
.hero--container .logo--container {
  margin-bottom: 7rem;
}

.sign-in--container {
  padding-inline: 5rem;
  width: 50%;
}
.sign-in--container h2 {
  color: #213F7D;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.04em;
}
.sign-in--container p {
  font-size: 1.25rem;
  font-weight: 400;
}
.sign-in--container form {
  margin-top: 2rem;
  width: 80%;
}
.sign-in--container input {
  margin-bottom: 1.2rem;
}
.sign-in--container a {
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #39cdcc;
}
.sign-in--container .btn {
  width: 100%;
  background-color: #39cdcc;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.75rem;
  margin-top: 1rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .login--container {
    background: #ffffff;
  }
  .content--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .hero--container {
    width: 100%;
    margin-top: 0;
  }
  .hero--container .logo--container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero--container .hero {
    display: none;
  }
  .sign-in--container {
    width: 100%;
    text-align: center;
  }
  .sign-in--container form {
    max-width: 20rem;
    margin-inline: auto;
  }
}
@media screen and (max-width: 600px) {
  .login--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero--container {
    padding-inline: 1rem;
  }
  .sign-in--container {
    padding-inline: 1rem;
  }
}
.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
.header--container .logo--container {
  max-width: 105px;
}
.header--container .search--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.2;
}
.header--container .search--container input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.header--container .search--container .btn-search {
  width: 50px;
  font-size: 1rem;
  padding-block: 0.75rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.header--container .userinfo--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.header--container .userinfo--container a {
  color: #213F7D;
  font-size: 1rem;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
}
.header--container .userinfo--container .bell-icon {
  cursor: pointer;
}
.header--container .userinfo--container .profile--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.header--container .userinfo--container .profile--container h4 {
  font-weight: 600;
}

.sidebar--container {
  background-color: #ffffff;
  width: 17.8rem;
  min-width: 14rem;
  height: 92vh;
  padding-block: 1.5rem;
  overflow-y: scroll;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}
.sidebar--container .mainLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  padding: 0 1.5rem;
}
.sidebar--container .mainLinks p {
  font-weight: 400;
}
.sidebar--container .mainLink-light {
  opacity: 0.85;
  margin-block: 2rem 1rem;
}
.sidebar--container .link--section {
  font-size: 12px;
  opacity: 0.85;
  text-transform: uppercase;
  color: #545F7D;
  margin-block: 0.8rem;
  padding: 0 1.5rem;
}
.sidebar--container .sidebar--link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  padding: 0.7rem 1.5rem;
  opacity: 0.7;
  color: #213F7D;
  font-weight: 400;
  background-color: white;
  transition: all 0.15s ease-in-out;
}
.sidebar--container .sidebar--link div {
  padding-top: 0.2rem;
}
.sidebar--container .sidebar--link:hover {
  background: #EBFAF9;
}
.sidebar--container .isActive {
  background: #D7F5F4;
  border-left: 3px solid #213F7D;
  opacity: 1;
}

.pagination--container {
  border: 1px solid red;
}

/*# sourceMappingURL=index.css.map */
